**/*.swp
cover.out
*~
obstor
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
/Obstor.iml
**/access.log
vendor/**/*.js
vendor/**/*.json
release
.DS_Store
*.syso
coverage.txt
.vscode/
*.tar.bz2
parts/
prime/
stage/
.sia_temp/
config.json
vendor/
