*.test
*.jar
src/*
temp
__pycache__/
log/*
obstor.test
bin/*
node_modules
# exception to the rule
!log/.gitkeep
!bin/.gitkeep
*.class
*~
run/core/obstor-dotnet/bin/*
run/core/obstor-dotnet/obj/*
run/core/obstor-dotnet/out/*
run/core/obstor-go/main.go
run/core/healthcheck/healthcheck
.idea/
.phive/
.phplint.cache/
build/versioning/tests
tools/
